
 .input{
   margin-top: 1rem;
   border-radius: 5px;
   border: none;
 }
 input::placeholder{
  font-size: large;
 }
 .toggleForm{
   background-color: #000;
   color: aliceblue;
   position: relative;
   padding: 12px;
 }
 .toggleForm span{
   cursor: pointer;
   margin: 1rem;
   padding: 10px;
   border-radius: 5px;
 }
 button{
  margin-top: 2rem;
 }
 .user_dashbord_nav{
  background-color: #7bece85f;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 5px;
}
.user_dashbord_nav ul{
  padding: 10px 2px;
  list-style: none;
  display: flex;
  column-gap: 3rem;
}
.user_dashbord_nav li:hover{
  cursor: pointer;
  background-color: #04f5ed37;
  border-radius: 5px;
  transform: scale(0.9);
}
.circle__notice{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
 }
 
 .circle__notice div{
    background-color: #7bece9;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: grid;
    place-content: center;
 }
 .circle__notice div:hover{
  background-color: #7bece8b0;
  transform: scale(1.1);
  cursor: pointer;
  border: 2px none solid;
  font-size: large;
 }

 
 .table_container{
  display: flex;
  flex-direction: column;
 }
 table{
  
  flex-grow: 1;
 }
 thead th{
  position: sticky;
  top: 0;
  background-color: #d3d2d2;
 }
 tbody{
  overflow-y: auto;
 }
 tbody td{
  box-shadow: 1px 1px 3px  gray;
  padding: 8px 0;
 
  
 }
 tbody td:hover{
  cursor: pointer;
  box-shadow: 0 2px 5px 1px rgb(139, 137, 137);
  background-color: rgb(219, 223, 226);
 }


